.home-hero{
  background: url('../../assets/part1/back-01-stars.png'), linear-gradient(180deg, #224F93 0%, #161131 78.83%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.top-section{
  box-sizing: border-box;
  padding: 45px 20px 30px 0px;
}

.welcome{
  font-weight: bold;
  font-size: 35px;
  line-height: 39px;
  color: #FFFFFF;
}

.welcome-title{
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  color: #FFD029;
  font-family: 'Open Sans';
}

.welcome-desc{
  font-weight: 600;
  font-size: 23px;
  line-height: 22px;
  color: #5ACEFF;    
  max-width: 100%;
}

.bottom-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.sale {
  width: 100%;
  margin-bottom: 25px;
}

.sale-title{
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: #FF6BF0;
  font-family: 'Open Sans';
}

.sale-collection{
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}

.sale-time{
  display: flex;
  justify-content: space-between;
  background-color: #FFD029;
  border-radius: 30px;
  max-width: 290px;
  line-height: 1;
  background-position: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 38.5px;
  text-align: center;
  color: #161131;
  padding:10px 15px;
  box-sizing: border-box;
}

.time-unit {
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}

.sale-desc {
  font-weight: 600;
  font-size: 14.3px;
  line-height: 19px;
  color: #5ACEFF;    
  margin-top: 20px;
  max-width: 350px;
}

.sale-desc-link {
  text-decoration: underline;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s linear;
}

.sale-desc-link:hover {
  color: #FFD029;
}

.sale-image {
  width: 100%;
  margin-bottom: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 100px 0;
}

.sale-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sale-image1 {
  width: 174px;
  height: 174px;
}

@media (min-width: 450px) {
  .top-section {
    text-align: center;
  }
  .sale {
    text-align: center;
  }
  .sale-time {
    margin-left: calc((100vw - 290px)/2);
  }
  .sale-desc {
    margin-left: calc((100vw - 290px)/2);
  }
  .sale-image {
    padding: 0;
  }
  .sale-image-wrapper {
    padding: 0px 30px;
  }
}

@media (min-width: 870px) {
  .welcome-title{
    font-size: 35px;
  }
  .sale-time{
    margin-top: 10px;
    margin-left: 0px;
    font-size: 30px;
    padding:10px 15px;
    max-width: 250px;
    border-radius: 25px;
  }
  .time-unit{
    font-size: 13px;
  }
  .bottom-section {
    flex-direction: row;
  }
  .sale-title {
    font-size: 35px;
    line-height: 48px;
  }
  .sale-collection {
    font-size: 15px;
  }
  .sale-desc {
    font-size: 15px;
    line-height: 25px;
  }
  .join-discord {
    font-size: 14px;
    line-height: 35px;
  }
  .welcome {
    font-size: 30px;
  }
  .welcome-desc{
    font-size: 15px;
  }
  .top-section {
    padding-top: 50px;
    text-align: left;
  }
  .sale-image {
    margin-bottom: 0px;
  }
  .bottom-section {
    flex-direction: row;
  }

  .top-section {
    text-align: left;
  }
  .sale {
    text-align: left;
  }
  .sale-desc {
    margin-left: 0px;
  }
  .sale-image-wrapper {
    padding: 0px 30px;
  }
}

@media (min-width: 1050px) {
  .top-section{
    padding-top: 45px;
    text-align: left;
  }
  .welcome-title{
    font-size: 59px;
  }
  .welcome {
    font-size: 28px;
  }
  .welcome-desc{
    width: 355px;
    font-size: 16px;
  }
  .sale-image1 {
    width: 174px;
  }
  .welcome-desc {
    max-width: 520px;
  }
  .time-unit{
    font-size: 14.5px;
  }
  .sale-collection {
    font-size: 17px;
  }
  .sale {
    width: 45%;
  }
  .sale-image {
    width: 60%;
    margin-bottom: 25px;
    margin-top: 65px;
  }
  .sale-time{
    margin-top: 10px;
    font-size: 38.5px;
    padding:13px 20px;
    max-width: 290px;
    border-radius: 25px;
  }
  .sale-desc {
    margin-top: 20px;
    font-size: 14.3px;
    line-height: 19px;
  }
  .sale-title {
    font-size: 35px;
    line-height: 48px;
  }

  .top-section {
    text-align: left;
  }
  .sale {
    text-align: left;
  }
  .sale-desc {
    margin-left: 0px;
  }
  .sale-image-wrapper {
    justify-content: space-between;
    padding: 0px 0px;
  }
}
